.body{
    background: #1890ff;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}
.header{
    height: 100px;
    color:#fff;
    line-height: 100px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    background: #3377aa;
}
.form-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin:auto;
    width: 500px;
    height: 500px;
}
