.header{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #cacaca;
    padding: 0 10px 0 10px;
}

.users{
    position: absolute;
    right:20px;
    top: 0;
}

.name{
    margin-right: 8px;
}
